/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
    color: #333;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

form {
    max-width: 500px;
    margin: 0 auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-top: 10px;
    color: #666;
}

input[type="url"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

select, input[type="radio"] {
    margin-top: 5px;
}

button {
    background-color: #5cb85c;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #4cae4c;
}

#progressBar {
    background-color: #ddd;
    height: 20px;
    width: 0%;
    border-radius: 4px;
    margin-top: 20px;
}

#downloadLink {
    display: block;
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    background-color: #337ab7;
    color: white;
    text-decoration: none;
    border-radius: 4px;
}

#downloadLink:hover {
    background-color: #286090;
}
