body {
    font-family: Georgia, 'Times New Roman', Times, serif, sans-serif;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 20px;
    /* margin-top: 10px; */
    /* font-size: 10px; */
  }
  .login-container {
    color: rgb(var(--ig-primary-text));
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    margin-top: 20px;
    max-width: 350px;
    border: 1px solid rgb(191, 191, 191);
    padding: 30px;
  }
  .login-container img {
    width: 200px;
    display: block;
    margin: 0 auto 20px;
  }
  input[type="text"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
  }
  input[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #30b6f4;
    color: white;
    border-radius: 5px;
    cursor: pointer;
  }
  input[type="submit"]:hover {
    background-color: #0b82d1;
  }
  
  .form-group {
    position: relative;
    margin-bottom: 20px;
  }
  .form-group input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    box-sizing: border-box;
  }
  .form-group label {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    transition: all 0.3s ease;
    pointer-events: none;
    font-size: 12px;
    color: #aaa;
  }
  .form-group input:focus + label,
  .form-group input:not(:placeholder-shown) + label {
    top: 0;
    left: 10px;
    font-size: 12px;
    color: #333;
  }
  .show-password {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
  }


  .social-button {
    display: flex;
    /* padding:px; */
    /* padding-left: px; */
    font-size: 1rem;
    border: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    margin-right: 90px;
  }

  .social-button img{
    width: 17px;
    padding-left:69px;
    
  }
  .facebook-button {
    background-color: white;
    color: #3b5998;
    
    /* font-weight:inherit; */
  }

  .forgot-password-button {
    color: #3b5998;
    padding-left: 120px;
    font-weight: 100;
    font-size: smaller;
  }

  /* Media query for Android devices */
@media only screen and (max-width: 600px) {
  .social-button {
    margin-right: 20px; /* Adjust for smaller screens*/
    /* padding-left: 5vw; */
    /* padding-right: 20vw; */
  }
  .forgot-password-button {
    padding-left: 26vw; /* Adjust for smaller screens */
  }
  .social-button img{
    width: 17px;
    padding-left:69px;
    
  }
  .facebook-button {
    background-color: white;
    color: #3b5998;
    padding-right: 12vw;
    
    /* font-weight:inherit; */
  }
}